<div class="topnav">
  <a routerLink="login" routerLinkActive="active">
    <button class = "menubutton" (click)="btnClickLogin();">Login</button>
  </a>

  <a routerLink="profile" routerLinkActive="active">
    <button class = "menubutton" (click)="btnClickProfile();"> Profile </button>
  </a>

  <a routerLink="mitarbeiter-profile" routerLinkActive="active">
    <button class = "menubutton" (click)="btnClickMitarbeiter();">Subordinates</button>
  </a>

  <a routerLink="report" routerLinkActive="active">
    <button class = "menubutton" (click)="btnClickReport();">Report</button>
  </a>
</div>
