<html>
<body>
<div class="w3-container w3-card w3-white w3-margin-bottom">
  <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-asterisk fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>Skills</h2>

  <div class="col">
    <p class="category"><span>Programming skills</span> </p>
    <div *ngFor='let skill of progskillsArray' >
      <p><span> - </span>{{skill.skill}}<span> : </span> {{skill.level}}</p>
    </div>
  </div>

  <div class="col">
    <p class="category"><span>Soft skills</span> </p>
    <div *ngFor='let skill of softskillsArray'>
      <p><span> - </span>{{skill.skill}}<span> : </span> {{skill.level}}</p>
    </div>
  </div>
  <br>

  <!-- Soft skills -->
  <button type="button" class="btn-block button-property" data-toggle="collapse" data-target="#demo2"><i class="fa fa-plus fa-fw"></i>Soft skills</button>
  <div id="demo2" class="collapse">
    <p>Communication skills</p>
    <div class="w3-light-grey w3-round-xlarge w3-small">
      <div class="w3-container w3-center w3-round-xlarge w3-teal progressBar" [style.width.%]="trainingProgress">{{trainingProgress}}%</div>
    </div>
    <p>Teamwork skills</p>
    <div class="w3-light-grey w3-round-xlarge w3-small">
      <div class="w3-container w3-center w3-round-xlarge w3-teal progressBar" style="width:80%">
        <div class="w3-center w3-text-white">80%</div>
      </div>
    </div>
  </div>
  <br>
</div>

</body>
</html>
