

<div class="w3-container w3-card w3-white w3-margin-bottom skill_container">
  <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-asterisk fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>Skills</h2>

  <div class="col">
    <p class="category"><span>Programming skills</span> </p>
    <div *ngFor='let skill of progskillsArray' >
      <p><span> - </span>{{skill.skill}}<span> : </span> {{skill.level}}</p>
    </div>
  </div>

  <div class="col">
    <p class="category"><span>Soft skills</span> </p>
    <div *ngFor='let skill of softskillsArray'>
      <p><span> - </span>{{skill.skill}}<span> : </span> {{skill.level}}</p>
    </div>
  </div>
  <br>
</div>
