


<div class="w3-container w3-card w3-white">
  <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-suitcase fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>Projects</h2>
  <div class="w3-container">
    <h5 class="w3-opacity">Project: <b>Project1</b></h5>
    <h5 class="w3-opacity">Client: <b>Client1</b></h5>
    <h5 class="w3-opacity">Branche: <b>Branche1</b></h5>
    <h5 class="w3-opacity">Role: <b>Role1</b></h5>
    <h6 class="w3-opacity">Period: <b>06.2018 - 11.2018</b></h6>
    <p>Description........</p>
    <hr>
  </div>
  <div class="w3-container">
    <h5 class="w3-opacity">Project: <b>Project1</b></h5>
    <h5 class="w3-opacity">Client: <b>Client1</b></h5>
    <h5 class="w3-opacity">Branche: <b>Branche1</b></h5>
    <h5 class="w3-opacity">Role: <b>Role1</b></h5>
    <h6 class="w3-opacity">Period: <b>06.2018 - 11.2018</b></h6>
    <p>Description........</p>
    <hr>
  </div>
  <div class="w3-container">
    <h5 class="w3-opacity">Project: <b>Project3</b></h5>
    <h5 class="w3-opacity">Client: <b>Client3</b></h5>
    <h5 class="w3-opacity">Branche: <b>Branche3</b></h5>
    <h5 class="w3-opacity">Role: <b>Role3</b></h5>
    <h6 class="w3-opacity">Period: <b>06.2018 - 11.2018</b></h6>
    <p>Description........</p>
  </div>
</div>
